:root {
  // Base colors
  --white: #ffffff;
  --light: #c7c7c7;
  --dark: #4b4b4b;
  --black: #000000;
  --scale-1: #f6f6f6;
  --scale-2: #dedede;
  --scale-3: #bbbbbb;
  --scale-4: #7f7f7f;
  --scale-5: #5a5a5a;
  --scale-6: #3b3b3b;
  --scale-7: #212121;

  // Semantic colors
  --primary: #ffb6c1;
  --secondary: #e9b3fb;
  --blue: #1976d2;
  --green: #388e3c;
  --red: #ff2e63;
  --yellow: #f5c857;
  --purple: #792ca2;
  --dark-blue: #2c3e50;

  // Text colors
  --text-primary: var(--scale-1);
  --text-inverted: var(--scale-7);

  // Background colors
  --background-main: #4d2b8c;
  --background-contrast: #d67777;

  // Cards
  --card-height: 50vh;
  --card-width: 700px;
  --card-padding: var(--space-3);

  // Spacing
  --space-0: 0rem;
  --space-1: 0.45rem;
  --space-2: 0.9rem;
  --space-3: 1.25rem;
  --space-4: 2rem;
  --space-5: 3.3rem;
  --space-6: 5rem;
  --space-7: 7rem;
  --space-8: 9rem;
}
