$card-types: (
  rule: var(--blue),
  game: var(--green),
  challenge: var(--yellow),
  'bad-luck': var(--red),
  'good-luck': var(--purple),
  'secret-mission': var(--dark-blue),
);

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--card-padding);
  border-radius: var(--space-2);
  border: 1px solid var(--scale-5);
  max-width: var(--card-width);
  position: relative;

  & .type {
    padding: 0 var(--space-5) var(--space-2) var(--space-5);
    border-radius: var(--space-1);
    font-size: var(--space-2);
    letter-spacing: 0.1em;
    font-weight: 900;
    color: var(--text-primary);
    position: absolute;
    top: var(--space-2);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-wrap: nowrap;
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--scale-6);
    border-radius: var(--space-1);
    width: 85vw;
    max-width: 100%;
    padding: var(--space-5) var(--space-5) var(--space-7) var(--space-5);
    min-height: var(--card-height);

    & h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--text-primary);
      text-align: center;
      margin-bottom: var(--space-7);
    }

    & .penalty {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: var(--space-5);
      gap: var(--space-2);
      width: 100%;

      & h3 {
        font-size: var(--space-2);
        font-weight: 600;
        color: var(--scale-3);
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }

      & .icons {
        display: flex;
        gap: var(--space-1);

        & .icon {
          color: var(--scale-2);
          font-size: calc(var(--space-5) * 0.8);
          transition: color 0.2s ease;
        }
      }
    }
  }

  // Card type variants
  @each $type, $color in $card-types {
    &.#{$type} {
      background-color: $color;

      & .type {
        background-color: $color;
      }

      & .content .penalty .icons .icon.active {
        color: $color;
      }
    }
  }
}
